---
layout: "base.njk"
---

<div class="project">
  <h2 class="heading heading--primary project__heading">{{ title }}</h2>
  <figure class="project__image-wrapper">
    {% 11tyImage image, title, "(min-width: 30em) 50vw, 100vw" %}
    <figcaption class="project__image-caption">Desktop layout</figcaption>
  </figure>

  <div class="project__content prose">
    {{ content | safe }}
  </div>

  <figure class="project__image-wrapper--mobile">
    {# <img class="project__image--mobile" src="{{ imageMobile }}" alt="{{ imageAlt }}"> #}
    {% 11tyImage imageMobile, title, "(min-width: 30em) 50vw, 100vw" %}
    <figcaption class="project__image-caption">Mobile layout</figcaption>
  </figure>

<div class="project__links">
  <a class="project__link" href="{{ challengeUrl }}">View Challenge 
    <svg xmlns="http://www.w3.org/2000/svg" class="project__link-icon" viewBox="0 0 20 20" fill="currentColor">
        <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
        <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
    </svg>
  </a>
  <a class="project__link" href="{{ siteUrl }}">View Site
    <svg xmlns="http://www.w3.org/2000/svg" class="project__link-icon" viewBox="0 0 20 20" fill="currentColor">
        <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
        <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
    </svg>
  </a>
  <a class="project__link" href="{{ repoUrl }}">View Code
    <svg xmlns="http://www.w3.org/2000/svg" class="project__link-icon" viewBox="0 0 20 20" fill="currentColor">
        <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
        <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
    </svg>
  </a>
</div>