<div class="project__card">
  <div class="card__head">
    <img class="card__image" src="{{ project.data.image }}" alt="{{ project.data.imageAlt }}">
  </div>
  <div class="card__body">
  <h3 class="heading heading--tertiary">
    <a href="{{ project.url }}">
        {{ project.data.title }}
    </a>
  </h3>
  {% for tag in project.data.tech %}

  <p>{{ tag }}</p>

  {% endfor %}
  <p>
    {{ project.data.summary }}
  </p>
  </div>
</div>