/* Variables */
:root {
  --grey-light: #e2e8f0;
  --grey-medium: #94a3b8;
  --grey-dark: #334155;
  --teal: #6abecd;
  --purple: #3e54a3;
  --pink: #cf6390;
  --lime: #aad742;
  --shadow-medium: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* CSS normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

html,
body {
  height: 100%;
}

body {
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

/* Utility classes */
.container {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

/* Heading styles */
.heading {
  font-weight: 600;
}

.heading--primary {
  margin-bottom: 1.5rem;
}

.heading--secondary {
  margin-bottom: 1rem;
}

.heading--tertiary {
  margin-bottom: 0.5rem;
}

.heading--main {
  text-align: center;
  font-weight: 600;
}

/* Header styles */
.header {
  padding: 1rem 0;
  border-bottom: 1px solid var(--grey-light);
  margin-bottom: 2rem;
}

.heading--page-heading {
  font-size: 1.75rem;
  margin-bottom: 0;
}

/* Main content styles */
.main {
  flex: 1 0 auto;
}

.description {
  font-size: 1.1875rem;
  max-width: 65ch;
  margin: 0 auto 2rem auto;
}

.description__paragraph {
  margin-bottom: 1.5rem;
}

.description__link {
  font-weight: 600;
  color: var(--pink);
}

.description__link:hover {
  text-decoration: underline;
}

/* Footer styles */
.footer {
  text-align: center;
  flex-shrink: 0;
  padding: 0.5rem;
}

/* Project Styles */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.project-card {
  border: 1px solid var(--grey-light);
  border-radius: 0.5rem;
  overflow: hidden;
}

.card__head {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card__image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: transform 0.3s ease 0s;
}

.card__image:hover {
  transform: scale(1.05);
}

.card__body {
  padding: 1rem;
}

.card__heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.card__heading:hover {
  text-decoration: underline;
}

.project__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.project__tag {
  font-weight: 700;
  text-transform: uppercase;
}

.project__tag:first-child {
  color: var(--teal);
}

.project__tag:nth-child(2) {
  color: var(--purple);
}

.project__tag:nth-child(3) {
  color: var(--pink);
}

.project__tag:nth-child(4) {
  color: var(--lime);
}

.project__summary {
  color: var(--grey-dark);
}

.project {
  max-width: 42rem;
}

.project__heading {
  font-size: 2rem;
}

.project__image {
  max-width: 42rem;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}

.project__content {
  margin-bottom: 2rem;
}

.project__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.project__link {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 1rem;
  border-radius: 9999px;
  border: 2px solid var(--grey-light);
  font-style: italic;
  font-weight: 600;
  transition: var(--shadow-medium);
}

.project__link:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1rem;
  transform: scale(1.015);
}

.icon {
  width: 1rem;
  height: 1rem;
  color: inherit;
  margin-left: 0.25rem;
}

/* Prose Styles */
.prose h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.prose ul {
  margin-bottom: 1rem;
}

.prose ul > li::before {
  content: "";
  position: absolute;
  background-color: var(--grey-medium);
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: 0.6875em;
  left: 0.25em;
}

.prose ul > li {
  position: relative;
  padding-left: 1.75em;
}

.prose p {
  margin-bottom: 1rem;
}
