---
title: "Frontend Mentor Challenges"
layout: "base.njk"
---

<div class="description">
<p>
  Frontend Mentor is an excellent free resource for learning frontend web development. You practice building websites in a realistic workflow by implementing professional designs.
</p>
<p>
   You learn by realizing the design as closely as possible using the technologies of your choice. 
</p>
<p>
  It has been incredibly helpful in improving my frontend web development skills, so I built this site to showcase the challenges I've completed.
</p>
</div>
<div class="project-grid">
  {% for project in collections.projects %}

  {% include 'project-card.njk' %}

  {% endfor %}
</div>