---
title: "Frontend Mentor Challenges"
layout: "base.njk"
---

<h2 class="heading heading--secondary">Projects go here</h2>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, rerum perferendis quod perspiciatis officia dolor nobis quidem nisi exercitationem error porro soluta corrupti voluptas inventore ipsa neque saepe molestiae ad?

<div class="project-grid">

{% for project in collections.projects %}

{% include 'project-card.njk' %}

{% endfor %}
</div>